html
    head
        title= "Yuen's boomer net" 
    body
        script(src="/js/jwt-check.js")
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h1(style="font-size: 100px; text-align: center") YUEN IS A BOOMER