html
    head
        title= "Yuen's boomer net" 
    body
        script(src="/js/register.js")
        input(type="text" id="firstname" name="firstname" placeholder="Firstname")
        br
        input(type="text" id="lastname" name="lastname" placeholder="Lastname")
        br
        input(type="email" id="email" name="email" placeholder="Email")
        br
        input(type="password" id="password" name="password" placeholder="Password")
        br
        button(type="submit" onclick="register()") Register