html
    head
        title= "Yuen's boomer net" 
        style(type="text/css").
            table, td {
                border: 1px solid black;
            }
    body
        script(src="/js/jwt-check.js")
        script(src="/js/get-users.js")
        table(id="usertable")
            tr
                th Firstname
                th Lastname
                th Email
            